version: 2

# this block contains anchors to reusable blocks of config.
references:
  setup_env: &setup_env
    docker:
      - image: circleci/node:lts
  save_cache: &save_cache
    key: v2-dependency-cache-{{ checksum "yarn.lock" }}
    paths:
      - node_modules
  restore_cache: &restore_cache
    keys:
      - v2-dependency-cache-{{ checksum "yarn.lock" }}
      - v2-dependency-cache-
  reports_path: &reports_path
    path: ./reports

jobs:
  install-dependencies:
    <<: *setup_env
    steps:
      - checkout
      - restore_cache: *restore_cache
      - attach_workspace:
          at: '.'
      - run: yarn --frozen-lockfile
      - save_cache: *save_cache
      - persist_to_workspace:
          root: '.'
          paths:
            - yarn.lock

  build:
    <<: *setup_env
    steps:
      - checkout
      - restore_cache: *restore_cache
      - attach_workspace:
          at: '.'
      - run: yarn --frozen-lockfile
      - save_cache: *save_cache
      - run: yarn build
      - store_artifacts:
          path: dist
      - persist_to_workspace:
          root: '.'
          paths:
            - dist

  lint:
    <<: *setup_env
    steps:
      - checkout
      - restore_cache: *restore_cache
      - attach_workspace:
          at: '.'
      - run: mkdir -p ./reports
      - run: yarn lint --format junit --out ./reports/tslint.xml
      - store_test_results: *reports_path

  test:
    <<: *setup_env
    steps:
      - checkout
      - restore_cache: *restore_cache
      - attach_workspace:
          at: '.'
      - run: mkdir -p ./reports
      - run:
          command: yarn test --ci --testResultsProcessor="jest-junit"
          environment:
            JEST_JUNIT_OUTPUT: ./reports/jest.xml
      - store_test_results: *reports_path

  deploy-preview:
    <<: *setup_env
    steps:
      - checkout
      - restore_cache: *restore_cache
      - attach_workspace:
          at: '.'
      - store_artifacts:
          path: packages/docs/dist
      - run:
          name: Submit Github comment with links to built artifacts
          command: node scripts/circle-build-preview.js

  deploy-npm:
    <<: *setup_env
    steps:
      - checkout
      - restore_cache: *restore_cache
      - attach_workspace:
          at: '.'
      - run: ./scripts/publish-npm-semver-tagged

workflows:
  version: 2
  build_lint_test_deploy:
    jobs:
      - install-dependencies
      - build:
          requires: [install-dependencies]
      - lint:
          requires: [install-dependencies]
      - test:
          requires: [build]
      - deploy-preview:
          requires: [build]
          # this job never runs on tags and ignores master
          filters:
            branches:
              ignore: /master/
      - deploy-npm:
          requires: [build, test]
          filters:
            branches:
              only:
                - develop
                - next
                - /^release\/.*/
