body {
    font-family: sans-serif;
}

/**
 * ---
 * key: value
 * list:
 *   - item0
 *   - item1
 * ---
 *
 * This is a comment on .myclass
 *
 * # Markdown header
 * This could even add a reference to another rule like:
 *
 * @rule .otherRule
 */
.myclass {
    background-color: deeppink;
}

.otherRule {
    position: backwards;
}
